{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ user.username }}</h1>
    <div class="container">


        <div class="profile-info col-md-2">
            {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                <img src="{{ im.url }}" class="img-circle">
            {% endthumbnail %}
        </div>

        <section class="col-md-10">

        {% with total_followers=user.followers.count %}
            <span class="count btn btn-sm btn-default">
                <span class="total">{{ total_followers }}</span>
                粉丝
            </span>
        {% endwith %}

        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                    class="btn btn-sm btn-danger pull-right follow">
            {% if request.user not in user.followers.all %}
                关注
            {% else %}
                取消关注
            {% endif %}
        </a>

        <hr>

        {% include "images/image/user_list_ajax.html" with images=user.images_created.all %}
        </section>
    </div>
{% endblock %}

{% block domready %}
    $("a.follow").click(function(e) {
        e.preventDefault();
        $.post(
            "{% url 'user_follow' %}",
            {id: $(this).data("id"), action: $(this).data("action")},
            function(data) {
                if (data["status"] == "ok") {
                    var previous_action = $("a.follow").data("action");
                    // toggle data-action 和 text
                    $("a.follow").data("action", previous_action == "follow" ? "unfollow" : "follow");
                    $("a.follow").text(previous_action == "follow" ? "取消关注" : "关注");

                    var previous_followers = parseInt($("span.count .total").text());
                    $("span.count .total").text(previous_action == "follow" ? previous_followers+1 : previous_followers-1);
                }
            }
        );
    });
{% endblock %}